<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Clark</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clark</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>579</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1804ab8163eeea5dcf9df21a7fa0ed5016377939</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Your photo library will only be accessed when setting your profile picture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your photo library will only be accessed when setting your profile picture</string>
	<key>UIAppFonts</key>
	<array>
		<string>Graphik-Black.otf</string>
		<string>Graphik-BlackItalic.otf</string>
		<string>Graphik-Bold.otf</string>
		<string>Graphik-BoldItalic.otf</string>
		<string>Graphik-Extralight.otf</string>
		<string>Graphik-ExtralightItalic.otf</string>
		<string>Graphik-Light.otf</string>
		<string>Graphik-LightItalic.otf</string>
		<string>Graphik-Medium.otf</string>
		<string>Graphik-Regular.otf</string>
		<string>Graphik-RegularItalic.otf</string>
		<string>Graphik-Semibold.otf</string>
		<string>Graphik-SemiboldItalic.otf</string>
		<string>Graphik-Thin.otf</string>
		<string>Graphik-ThinItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_pgFFgfIQ1yFmP1f72wOiqollFsnPByHw</string>
		<key>test</key>
		<string>key_test_agDweeVGWsxfJXk50EVkLdklAvbMuqRH</string>
	</dict>
</dict>
</plist>
